<div class="col-md-6 offset-md-3 edit-user-container">
  <h2 class="text-center">Editing user {{user?.username}}</h2>
  <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" placeholder="Username" name="username"
             class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" placeholder="Password" name="password"
             class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="role-select">Choose role</label>
      <select formControlName="role" class="form-select" id="role-select">
        <option *ngFor="let role of roles" [value]=[role]>{{role}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" placeholder="First Name" name="firstName"
             class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" placeholder="Last Name" name="lastName"
             class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" formControlName="age" placeholder="" name="age"
             class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" placeholder="E-mail" name="email"
             class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="about">About user</label>
      <input type="text" formControlName="about" placeholder="About" name="about"
             class="form-control" id="about">
    </div>

    <div class="form-group">
      <label for="depart-select">Choose department</label>
      <select formControlName="department" class="form-select" id="depart-select"
              (ngModelChange)="onDepartSelect($event)">
        <option [value]="null">None</option>
        <option *ngFor="let depart of departs" [value]=depart?.id>{{depart?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="team-select">Choose team</label>
      <select formControlName="team" class="form-select" id="team-select">
        <option [value]="null">None</option>
        <option *ngFor="let team of teamsInDepart" [value]=team?.id>{{team?.name}}</option>
      </select>
    </div>

    <button class="btn btn-success" ng-click="onSubmit()">Save changes</button>
  </form>
</div>
