<div class="col-md-6 offset-md-3 depart-container">
  <h2>Skills</h2>
  <button class="btn btn-success" (click)="addSkill()">Add Skill</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>About</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skills">
      <td class="hidden">{{skill.id}}</td>
      <td>{{skill.name}}</td>
      <td>{{skill.about}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteSkill(skill)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

