<div class="update-user-container">
  <h2 class="text-center">Edit profile</h2>
  <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control"
               id="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control"
               id="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last name is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" placeholder="E-mail" name="email"
             class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="about">About user</label>
      <input type="text" formControlName="about" placeholder="About" name="about"
             class="form-control" id="about">
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="depart-select">Choose department</label>
        <select formControlName="department" class="form-select" id="depart-select"
                (ngModelChange)="onDepartSelect($event)">
          <option [value]=null>None</option>
          <option *ngFor="let depart of departments" [value]=depart?.id>{{depart?.name}}</option>
        </select>
      </div>

      <div class="form-group col">
        <label for="team-select">Choose team</label>
        <select formControlName="team" class="form-select" id="team-select">
          <option [value]=null>None</option>
          <option *ngFor="let team of teamsInDepart" [value]=team?.id>{{team?.name}}</option>
        </select>
      </div>

      <div class="form-group col">
        <label for="position-select">Choose position</label>
        <select formControlName="position" class="form-select" id="position-select">
          <option *ngFor="let position of positions" [value]=[position]>{{position}}</option>
        </select>
      </div>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-light" type="reset" (click)="onCancel()">Cancel</button>
  </form>
</div>
