<div class="col-md-6 offset-md-3 show-user-container">
  <div class="user-card card border bg-super-light" *ngIf="!showEditForm">
    <div class="card-header">
      <button class="btn btn-success" id="edit-profile" (click)="showEditForm=true"><i class="fas fa-edit"></i>
        Edit profile
      </button>
      <h2>{{user?.firstName}} {{user?.lastName}}</h2>
      <h4>{{user?.username}}</h4>
    </div>
    <div class="card-body roles">
      <button class="btn btn-primary" id="add-role" *ngIf="!showRoleForm" (click)="onShowRoleForm(user)">
        <i class="fas fa-plus"></i> Add role
      </button>
      <h5>Roles:</h5>
      <form [formGroup]="roleForm" (ngSubmit)="addRole()" *ngIf="showRoleForm">
        <div class="form-group col-md-4">
          <label for="role-select">Choose new role:</label>
          <select formControlName="role" class="form-select" id="role-select">
            <option *ngFor="let role of roles" [value]=role>{{role}}</option>
          </select>
        </div>
        <button class="btn-sm btn-success" type="submit">Save</button>
        <button class="btn-sm btn-light" type="reset" (click)="showRoleForm=!showRoleForm">Cancel</button>
      </form>
      <ul class="list-group col-md-6">
        <li class="list-group-item" *ngFor="let role of user?.roles">
          <button class="btn-sm btn-danger" (click)="deleteRole(user.id, role)"><i class="fas fa-times"></i></button>
          {{role}}
        </li>
      </ul>
    </div>
    <div class="card-footer info">
      <h5>Information: </h5>
      <ul class="list-group list-group-flush border">
        <li class="list-group-item">
          E-mail: {{user?.email}}
        </li>
        <li class="list-group-item">
          About me: {{user?.about}}
        </li>
        <li class="list-group-item">
          Department:
          <a routerLink="/home" fragment="{{user?.department?.id}}" *ngIf="user?.department?.id !== null">
            {{user?.department?.name}}
          </a>
          <a *ngIf="user?.department?.id === null">No department</a>
        </li>
        <li class="list-group-item">
          Team:
          <a routerLink="/team/{{user?.team?.id}}" *ngIf="user?.team?.id !== null">
            {{user?.team?.name}}
          </a>
          <a *ngIf="user?.team?.id === null">No team</a>
        </li>
        <li class="list-group-item">
          Position: {{user?.position}}
        </li>
      </ul>
    </div>
  </div>

  <app-update-user (onUserUpdated)="hideEditForm($event)" *ngIf="showEditForm"></app-update-user>

  <h3>Skills</h3>
  <button class="btn btn-success" id="add-skill" (click)="onShowSkillLevelForm()" *ngIf="!showSkillLevelForm">
    <i class="fas fa-plus"></i>
  </button>
  <div class="col-md-8">
    <form *ngIf="showSkillLevelForm && skillLevelForm" [formGroup]="skillLevelForm"
          (ngSubmit)="addOrEditSkillLevel()"  id="add-skill-form">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="skill-select">Choose skill</label>
            <select formControlName="skill" class="form-select"
                    id="skill-select" [ngClass]="{ 'is-invalid': submitted && func && func.skill.errors }">
              <option *ngFor="let skill of skills" [value]="skill?.id">{{skill?.name}}</option>
            </select>
            <div *ngIf="submitted && func && func.skill.errors" class="invalid-feedback">
              <div *ngIf="func && func.skill.errors.required">Skill is required</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="level">Level</label>
            <select formControlName="level" name="level" class="form-select"
                    id="level" [ngClass]="{ 'is-invalid': submitted && func && func.level.errors }">
              <option *ngFor="let number of [0, 1, 2, 3, 4, 5]" [value]="number">{{number}}</option>
            </select>
            <div *ngIf="submitted && func && func.level.errors" class="invalid-feedback">
              <div *ngIf="func && func.level.errors.required">Level is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p>The skill you are looking for does not exist? <a routerLink="/add-skill">Create new skill!</a></p>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-light" id="btn-cancel-skill" type="reset" (click)="hideSkillLevelForm()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-striped border table-light">
    <thead>
    <tr>
      <th>Skill</th>
      <th>Level</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skillLevel of user?.skillLevels">
      <td>{{skillLevel?.skill?.name}}</td>
      <td>{{skillLevel?.level}}</td>
      <td>
        <button class="btn btn-success" id="edit-skill-level" (click)="onShowSkillLevelForm(skillLevel)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger" id="delete-skill-level" (click)="deleteSkillLevel(skillLevel.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

