.list-depart-container {
  position: relative;
}

#add-dep {
  position: absolute;
  right: 10px;
  top: 5px;
}

#update-dep, #delete-dep {
  margin: 0 5px 10px 5px;
}

figcaption {
  font-weight: bold;
}

#list-deps {
  margin-top: 20px;
}

#add-team, #add-member {
  margin: 10px 5px 10px 5px;
}

h5 {
  margin-bottom: 10px;
  margin-top: 10px
}
