<div class="col-md-6 offset-md-2 list-depart-container">
  <h2>Departments</h2>
  <button class="btn btn-success" id="add-dep" (click)="addDepart()">New Department</button>
  <table class="table table-light">
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let department of departments">
      <td>
        <h3>{{department.name}}</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let team of department.teams">
            <a routerLink="/team/{{team.id}}">{{team.name}}</a>
          </li>
        </ul>

      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteDepart(department)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

