<div class="col-md-6 offset-md-3 add-team-container">
  <h2 class="text-center">Adding new team</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name of team</label>
      <input type="text" formControlName="name" placeholder="Team" name="name" class="form-control"
             id="name">
    </div>

    <div class="form-group">
      <label for="about">About</label>
      <input type="text" formControlName="about" placeholder="About" name="about" class="form-control" id="about">
    </div>

    <div class="form-group">
      <label for="superior-select">Choose department the team belongs to</label>
      <select formControlName="superior" class="form-select" id="superior-select" (ngModelChange)="onSuperiorSelect($event)">
        <option *ngFor="let depart of departs" [value]=depart?.id>{{depart?.name}}</option>
      </select>
    </div>

    <button class="btn btn-success">Add team</button>
  </form>
</div>
