.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  overflow: visible;
  height: 0;
}

nav {
  margin-bottom: 2vh;
}

#user-dropdown {
  margin-right: 0.5vw;
}

#user-dropdown-menu {
  right: 0.5vw;
}


