<nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top" *ngIf="checkIfLoggedIn()">
  <div class="navbar-header navbar-collapse collapse hide" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto main-menu">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      </li>

      <ul class="navbar-nav" *ngIf="showAdminPanels">
        <li class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" id="addDropdown" role="button" data-toggle="dropdown"
             (click)="showAddList=!showAddList">Add</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="addDropdown"
               *ngIf="showAddList" (click)="showAddList=!showAddList">
            <a class="dropdown-item" routerLink="add-user">User</a>
            <a class="dropdown-item" routerLink="add-depart">Department</a>
            <a class="dropdown-item" routerLink="add-team">Team</a>
            <a class="dropdown-item" routerLink="add-skill">Skill</a>
          </div>
        </li>
      </ul>

      <li class="nav-item">
        <a routerLink="users" routerLinkActive="active" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="teams" routerLinkActive="active" class="nav-link">Teams</a>
      </li>
      <li class="nav-item">
        <a routerLink="skills" routerLinkActive="active" class="nav-link">Skills</a>
      </li>
    </ul>

    <a routerLink="home" routerLinkActive="active">
      <h1 class="text-white navbar-center display-5"><i class="fas fa-table"></i>  {{title}}</h1>
    </a>

    <ul class="nav navbar-nav user-menu">
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle" id="userDropdown" type="button" data-mdb-toggle="dropdown"
                aria-expanded="false" (click)="showUserList=!showUserList">
          {{user?.username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="userDropdown"
             *ngIf="showUserList" (click)="showUserList=!showUserList">
          <button class="dropdown-item" routerLink="user/{{user?.id}}">Your profile</button>
          <button class="dropdown-item" routerLink="team/{{user?.team?.id}}">Your team</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="signOut()">Sign out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


