<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
  <form class="form-horizontal" action="/registration" method="POST">
    <fieldset>
      <div id="legend">
        <legend class="">Register</legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- Password -->
        <label class="control-label"  for="password_confirm">Password (Confirm)</label>
        <div class="controls">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- First name -->
        <label class="control-label" for="firstName">First name</label>
        <div class="controls">
          <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- Last name -->
        <label class="control-label" for="lastName">Last name</label>
        <div class="controls">
          <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- Age -->
        <label class="control-label" for="age">Age</label>
        <div class="controls">
          <input type="number" id="age" name="age" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- About -->
        <label class="control-label" for="about">About me</label>
        <div class="controls">
          <input type="text" id="about" name="about" placeholder="" class="input-xlarge">
          <br>
        </div>
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Register</button>
        </div>
      </div>
    </fieldset>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>