<div class="col-md-6 offset-md-3 list-depart-container">
  <h2>Departments</h2>
  <button class="btn btn-success" id="add-dep" (click)="addDepart()"><i class="bi bi-plus-lg"></i> Department</button>
  <table class="table table-bordered table-light" id="list-deps">
    <tbody>
    <tr *ngFor="let department of departments">
      <td>

        <h3 [attr.id]="department?.id">
          {{department?.name}}
          <button class="btn btn-success" id="update-dep" (click)="updateDepart(department.id)"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-danger" id="delete-dep" (click)="deleteDepart(department)"><i class="bi bi-trash"></i></button>
        </h3>
        <h4>About:</h4>
        <span>{{department?.about}}</span>
        <h5>
          Leader:
          <a routerLink="/user/{{department?.leader?.id}}" *ngIf="department?.leader?.id !== null">
            {{department?.leader?.username}} - {{department?.leader?.firstName}} {{department?.leader?.lastName}}
          </a>
          <a *ngIf="department?.leader?.id === null">No leader</a>
        </h5>
        <figure>
          <figcaption>
            Teams:
            <button class="btn-sm btn-success" id="add-team" (click)="addTeam()"><i class="bi bi-plus-lg"></i></button>
          </figcaption>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let team of department?.teams">
              <a routerLink="/team/{{team?.id}}">{{team?.name}}</a>
            </li>
          </ul>
        </figure>
        <figure>
          <figcaption>
            Members without team:
            <button class="btn-sm btn-success" id="add-member" (click)="addMember()"><i class="bi bi-person-plus-fill"></i></button>
          </figcaption>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let member of department?.membersNoTeam">
              <a routerLink="/user/{{member?.id}}" *ngIf="member?.id != department?.leader?.id">
                {{member?.username}} - {{member?.firstName}} {{member?.lastName}}
              </a>
            </li>
          </ul>
        </figure>
      </td>
    </tr>
    </tbody>
  </table>
</div>

