<div class="col-md-6 offset-md-3 add-user-container">
  <h2 class="text-center">Adding new user</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" placeholder="Username" name="username" class="form-control"
             id="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
             id="password">
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" placeholder="username@example.com" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="about">About</label>
      <textarea formControlName="about" type="text" placeholder="About user..."
                name="about" class="form-control" id="about" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="depart-select">Choose department</label>
      <select formControlName="department" class="form-select" id="depart-select" (ngModelChange)="onDepartSelect($event)">
        <option [value]=null>None</option>
        <option *ngFor="let depart of departs" [value]=depart?.id>{{depart?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="team-select">Choose team</label>
      <select formControlName="team" class="form-select" id="team-select">
        <option [value]=null>None</option>
        <option *ngFor="let team of teamsInDepart" [value]=team?.id>{{team?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="position-select">Choose position</label>
      <select formControlName="position" class="form-select" id="position-select">
        <option *ngFor="let position of positions" [value]=[position]>{{position}}</option>
      </select>
    </div>

    <button class="btn btn-success" ng-click="onSubmit()">Add user</button>
  </form>
</div>
