<div class="col-md-6 offset-md-3 add-user-container">
  <h2 class="text-center">Create new user</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" placeholder="Username" name="username" class="form-control"
             id="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
             id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" formControlName="confirm_password" placeholder="Password" class="form-control"
             id="confirm_password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
      <div *ngIf="submitted && f.confirm_password.errors && f.confirm_password.invalid" class="invalid-feedback">
        <div *ngIf="f.confirm_password.errors.required">Confirm password.</div>
        <div *ngIf="f.confirm_password.errors.confirmedValidator">Passwords don't match.</div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control"
               id="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </div>
      </div>

      <div class="form-group col">
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" placeholder="Last Name" name="lastName" class="form-control"
               id="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last name is required</div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" placeholder="username@example.com" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="about">About</label>
      <textarea formControlName="about" type="text" placeholder="About"
                name="about" class="form-control" id="about" rows="4"></textarea>
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="depart-select">Choose department</label>
        <select formControlName="department" class="form-select" id="depart-select" (ngModelChange)="onDepartSelect($event)">
          <option [value]=null>None</option>
          <option *ngFor="let depart of departments" [value]=depart?.id>{{depart?.name}}</option>
        </select>
      </div>

      <div class="form-group col">
        <label for="team-select">Choose team</label>
        <select formControlName="team" class="form-select" id="team-select">
          <option [value]=null>None</option>
          <option *ngFor="let team of teamsInDepart" [value]=team?.id>{{team?.name}}</option>
        </select>
      </div>

      <div class="form-group col">
        <label for="position-select">Choose position</label>
        <select formControlName="position" class="form-select" id="position-select">
          <option *ngFor="let position of positions" [value]=[position]>{{position}}</option>
        </select>
      </div>
    </div>


    <button class="btn btn-success" ng-click="onSubmit()">Add user</button>
  </form>
</div>
