<div class="col-md-6 offset-md-3 form-depart-container">
  <h2 class="text-center">Adding new department</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name of department</label>
      <input type="text" formControlName="name" placeholder="New Department" name="name" class="form-control"
             id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="about">About</label>
      <textarea formControlName="about" type="text" placeholder="About"
                name="about" class="form-control" id="about" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="leader-select">Choose leader</label>
      <select formControlName="leader" class="form-select"
              id="leader-select" [ngClass]="{ 'is-invalid': submitted && f.leader.errors }">
        <option *ngFor="let user of users" [value]=user?.id>{{user?.username}} - {{user?.firstName}} {{user?.lastName}}</option>
      </select>
      <div *ngIf="submitted && f.leader.errors" class="invalid-feedback">
        <div *ngIf="f.leader.errors.required">Leader is required</div>
      </div>
    </div>

    <button class="btn btn-success">Add department</button>
  </form>
</div>

