#label-skill-select {
  margin-right: 0.5vw;
}

#comp-matrix {
  margin-bottom: 5vh;
}

h2 {
  margin-bottom: 5vh;
}

.show-report-container {
  position: relative;
}

#back-to-team {
  position: absolute;
  right: 0;
  top: 0;
}
