<div class="col-md-6 offset-md-3 list-user-container">
  <h2>Users</h2>
  <button class="btn btn-success" (click)="addUser()">Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Username</th>
      <th>Roles</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
      <th>Department</th>
      <th>Team</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td> <a routerLink="/user/{{user?.id}}">{{user?.username}}</a></td>
      <td>{{user?.roles}}</td>
      <td>{{user?.firstName}}</td>
      <td>{{user?.lastName}}</td>
      <td>{{user?.position}}</td>
      <td>{{user?.department?.name}}</td>
      <td>{{user?.team?.name}}</td>
      <td>
        <button class="btn btn-success" (click)="updateUser(user.id)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

