<div class="col-md-6 offset-md-3 list-team-container">
  <h2>Teams</h2>
  <button class="btn btn-success" id="new-team" (click)="addTeam()"><i class="fas fa-plus"></i> New Team</button>
  <table class="table table-striped border">
    <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams">
      <td><a routerLink="/team/{{team?.id}}">{{team?.name}}</a></td>
      <td>{{team?.superior?.name}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteTeam(team)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

