<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
    <li class = "nav-item">
      <a routerLink="add-user" routerLinkActive="active" class="nav-link" >Add User</a>
    </li>
    <li class = "nav-item">
      <a routerLink="add-depart" routerLinkActive="active" class="nav-link" >Add Department</a>
    </li>
    <li class = "nav-item">
      <a routerLink="add-team" routerLinkActive="active" class="nav-link" >Add Team</a>
    </li>
    <li class = "nav-item">
      <a routerLink="add-skill" routerLinkActive="active" class="nav-link" >Add Skill</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>

