<div class="col-md-6 offset-md-3 form-team-container">
  <h2 class="text-center" *ngIf="teamId === undefined">Create new team</h2>
  <h2 class="text-center" *ngIf="teamId !== undefined">Edit team: {{team?.name}}</h2>
  <form [formGroup]="teamForm" *ngIf="teamForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name of team</label>
      <input type="text" formControlName="name" placeholder="New Team" name="name" class="form-control"
             id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="about">About</label>
      <textarea formControlName="about" type="text" placeholder="About"
                name="about" class="form-control" id="about" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="superior-select">Choose department the team belongs to</label>
      <select formControlName="superior" class="form-select"
              id="superior-select" [ngClass]="{ 'is-invalid': submitted && f.superior.errors }">
        <option *ngFor="let depart of departments" [value]=depart?.id>{{depart?.name}}</option>
      </select>
      <div *ngIf="submitted && f.superior.errors" class="invalid-feedback">
        <div *ngIf="f.superior.errors.required">Department is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="leader-select">Choose leader</label>
      <select formControlName="leader" class="form-select"
              id="leader-select" [ngClass]="{ 'is-invalid': submitted && f.leader.errors }">
        <option *ngFor="let user of users" [value]=user?.id>{{user?.username}} - {{user?.firstName}} {{user?.lastName}}</option>
      </select>
      <div *ngIf="submitted && f.leader.errors" class="invalid-feedback">
        <div *ngIf="f.leader.errors.required">Leader is required</div>
      </div>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-light" type="reset" (click)="onCancel()">Cancel</button>
  </form>
</div>
